body {
    margin: 0;
    font-family: 'Arial';
    background-color: #353535;
    background-image: url(https://images.unsplash.com/photo-1521571086300-579bd981bbb6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    background-position: centers;
    background-attachment: fixed;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    min-height: 250px;
    border: 1px solid #CCC;
    padding: 40px;
    background-color: #FFF
}